<% @question.answers.each do |answer| %>
    <div class="row">
      <div class="col-xs-1 text-center">
        <button id="plusAnswer" type="button" class="btn btn-default buttonAnswerPlus" data-answer-id="<%= answer.id %>" aria-label="Left Align">
          <a  class="glyphicon glyphicon-hand-up" aria-hidden="true"></a>
        </button>
        <div id="valueAnswer"><%= answer.ratingAnswer %></div>
        <button id="minusAnswer" type="button" class="btn btn-default buttonAnswerMinus" data-answer-id="<%= answer.id %>" aria-label="Left Align">
          <a  class="glyphicon glyphicon-hand-down" aria-hidden="true"></a>
        </button>
      </div>
      <div class="col-xs-11">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= answer.contentAnswer %>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <% if current_user && current_user.admin? %>
              <%= link_to "Edit", edit_question_answer_path(:question_id => @question, :answer_id => answer.id) %> |
              <%= link_to "Delete", question_answer_path(:question_id => @question, :answer_id => answer.id),  :method => :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <div class="col-xs-3 pull-right">
          <p style="color: blue; text-align: right; margin-right: 1000px;"><%= link_to answer.user.login, :controller => 'users', :action => 'show', :id => answer.user_id %></p>
        </div>
      </div>
    </div>
    <hr>
<% end %>




